<div class="video-grid">
    {{#each videos}}
    <div class="video-container">
        <video width="650" height="300" class="video" muted="muted" controls >
            <source src="/api/video/{{this.id}}" type="video/mp4"/>
        </video>
        <h3 class="video-name"><a href="/video/{{this.id}}">{{this.name}}</a></h3>
        <p class="author"><a href="/users/{{this.UserId}}">{{this.userName}}</a></p>
    </div>
    {{/each}}
</div>